@model Concessionaria.Models.Veiculo

@{
    ViewBag.Title = "Delete";
}

<h3>Veículos</h3>
<h4>Remover <b>@Html.DisplayFor(model => model.Nome)</b>? </h4>
<div>
    <hr />
    <p>Informações:</p>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Combustivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Combustivel)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="button" class="btn btn-default">@Html.ActionLink("< Voltar", "Index")</button>
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
