@model Concessionaria.Models.Veiculo

@{
    ViewBag.Title = "Detalhes do Veículo";
}
<div class="container body-content">
    <h3>Detalhes de @Html.DisplayFor(model => model.Nome)</h3>
    <hr />
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Marca)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Marca)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ano)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ano)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Placa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Placa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Combustivel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Combustivel)
            </dd>

        </dl>
    </div>
    <p>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        @Html.ActionLink("Editar", "Edit", new { id = Model.ID })<br />
        @Html.ActionLink("< Voltar", "Index")
    </p>
</div>